/********** Base **********/
:root {
  --bg-light: #3c1361;
  --font-light: #cfff04;
  --alt-color: #ea0e53;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'Orbitron', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  color: var(--font-light);
  background: var(--bg-light);
}


/********** Infos **********/
.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.round {
  margin-left: 40px;
  display: flex;
  font-size: 30px;
  color: var(--alt-color);
}

.scorePlayer,
.scoreComputer {
  display: flex;
}

.scorePlayer h3,
.scoreComputer h3,
.round h3 {
  margin-right: 15px;
}

/********** Choices **********/
.choices {
  justify-self: center;
}

.computerChoice,
.playerChoice {
  margin-bottom: 50px;
  height: 300px;
  width: 235px;
  text-align: center;
}

.computerChoice h3,
.playerChoice h3 {
  font-size: 50px;
  margin-bottom: 30px;
}

.computerChoice i,
.playerChoice i {
  height: 220px;
  width: 220px;
  font-size: 150px;
  border-radius: 50%;
  padding: 30px;
  color: var(--alt-color);
}


/********** Buttons **********/
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid var(--font-light);
  margin: 10px 200px 0 200px;
  text-align: center;
}

.btns * {
  margin: 20px 10px 0 10px;
  padding: 2.5px 10px 10px 8px;
  background: var(--bg-light);
  color: var(--font-light);
  border-radius: 10px;
  font-size: 70px;
  text-align: center;
  cursor: pointer;
}

.rock,
.paper,
.scissors {
  border: 5px solid var(--alt-color);
  transition: all .5s;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  transform: scale(1.05) translateY(-5px);
}

/********** Bottom **********/
.bottom {
  display: flex;
  position: relative;
}

.newGame {
  align-self: flex-end;
}

.chooseOne {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
