/********** Base **********/
:root {
  --bg-light: #3c1361;
  --font-light: #cfff04;
  --alt-color: #ea0e53;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  color: white;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: var(--bg-light);
  color: var(--font-light);
}

h3 {
  margin-right: 1rem;
}

.container {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.infos {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 2.4rem;
  text-align: center;
  border-bottom: 5px solid ;
}

.round {
  margin-left: 5rem;
}

.scorePlayer,
.round,
.scoreComputer {
  display: flex;
}

.round {
  color: var(--alt-color);
}

.choices {
  padding-top: 2.5rem;
  width: 100%;
  height: 74%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 3.2rem;
  text-align: center;
}

.computerChoice,
.playerChoice {
  height: 50rem;
  width: 100%;
  text-align: center;
}

.computerChoice h3,
.playerChoice h3 {
  margin-bottom: 3rem;
}

.computerChoice i,
.playerChoice i {
  font-size: 15rem;
  padding-top: 5rem;
  color: var(--alt-color);
}


.btns {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border-top: 5px solid;
}

.rock,
.paper,
.scissors {
  margin: 0 1rem;
  border: 3px solid var(--alt-color);
  padding: 1rem 2rem;
  border-radius: 15px;
  cursor: pointer;
}

.bottom {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
}

.newGame {
  cursor: pointer;
  transition: .35s;
}

.newGame:hover {
  color: var(--alt-color);
}

@media (max-width: 855px), (max-height: 840px) {
  .infos {
    font-size: 1.8rem;
  }

  .computerChoice i,
  .playerChoice i {
  font-size: 10rem;
}


}

@media (max-width: 643px), (max-height: 730px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 520px), (max-height: 560px) {
  html {
    font-size: 40%;
  }

  @media (max-width: 412px), (max-height: 470px) {
    html {
      font-size: 30%;
    }
}
